.jumbotron {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.filtercontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
}

.filterbar {
  margin-top: 0px;
  width: 25%;
}

.button {
  width: 100% !important;
  border-radius: 0px !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
}
